<h1>Water Agency Administration Portal</h1>

<p>
    Use this site to add/update/delete customers, addresses, storages, sources, and more.
</p>

<footer>© 2022 Lance Cargill and Dion Mokhtari</footer>