<h1>Sources And Source Types </h1>

<table class="table table-striped table-bordered border-success">
  <thead>
    <tr>
      <th>Source Name</th>
      <th>Source Type</th>
    </tr>
  </thead>

  <tbody>
    {{#each sourcesHasSourceTypes}}
      <tr sourcesHasSourceTypes={{this.sourcesHasSourceTypes}}>
        <td>{{this.sourcesSourceName}}</td>
        <td>{{this.sourceTypesSourceType}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

</div>